*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/*header*/
header{
    display: flex;
    height: 70px;
    background-color: #EFDEDB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: saps;
}

h2{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
}

.nav-link > img{  
    filter: brightness(0) invert(1);
}


nav{
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    font-size: 20px;
}

nav a:hover{
    color: #ecc440;
}



/*Body*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 100%;
    height: 500px;
    background-image: url(/Imagenes/fondo.jpg);
    background-size: contain; 
    background-repeat: repeat; 
    background-position: center;
}

@font-face{
    font-family: portada;
    src: url(../fonts/Amsterdam/AmsterdamOne-eZ12l.ttf);
}

@font-face{
    font-family: saps;
    src: url(../fonts/Alta_Typeface/Alta_regular.otf);
}

.portada{
    font-size: 'open sans';
    font-family: portada;
}

.portada img{
    height: 1000px;
    width: 100%;
    padding: 35px 90px;

    
}

.portada p{
    font-family: portada;
    position: absolute;
    top: 30%;
    left: -2%;
    font-size: 70px;
    color: #d4b09bfe;
    font-size: 50px;
}



/*catalogo*/

.catalogo
{
    font-size: 'open sans';
}

.catalogo h1{
    text-align: center;
    margin: 10px 0 15px 0;
    font-weight: 300;
    font-family: portada;
    font-size: 60px;
}

.contenedor-catalogo{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    font-family: saps;
}

.contenedor-catalogo .imagen{
    width: 32%;
    position: relative;
    height: 350px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
  }
  
.overlay::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; 
background-color: #eeccc6;
opacity: 0.6;
}

.overlay h2{
    color: white;
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.overlay:hover:before {
    opacity: 0.8;
}

/*Galeria*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s;
}

.image:hover img {
    transform: scale(1.05);
}

h1{
    text-align: center;
    margin: 10px 0 15px 0;
    font-weight: 300;
    font-family: saps;
}
h5{
    text-align: center;
    margin: 10px 0 15px 0;
    font-weight: 300;
}


/*sobre nosotros*/

.sn1{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    padding: 10px;
}

.sn2{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    padding: 10px;
}

.como_trabajamos,
.como_contactarnos,
.quienes_somos{
    background-color: #ffff;
}

.que_podemos_hacer,
.como_nacio{
    background-color: #ffdbc5;
}

.sn1 h1{
    font-family: saps;
}

.sn2 h1{
    font-family: saps;
}

.sn1 h1, p{
    text-align: center;
    padding: 30px;
    top: 50%;
    left: 50%;
    width: 100%;
}

.sn2 h1, p{
    text-align: center;
    padding: 30px;
    top: 50%;
    left: 50%;
    width: 100%;
}



/*Form*/
table,tr,th{
    padding: 10px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Footer*/
footer{
    font-family: sans-serif;
}
.pie-pagina{
    padding-top: 20px;
    width: 100%;
    background-color:#d4b09bfe;
    font-family: saps;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
    text-align: justify;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #9c6644; 
}

.grupo-2{
    text-align: center;
}
